<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title th:text="${customer.id != null ? 'Edit Customer' : 'Add New Customer'}">Customer Form</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 th:text="${customer.id != null ? 'Edit Customer' : 'Add New Customer'}">Customer Form</h1>
                <a href="/customers" th:href="@{/customers}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <form th:action="${customer.id != null ? '/customers/' + customer.id : '/customers'}"
                          th:object="${customer}" method="post">

                        <input type="hidden" th:field="*{id}" th:if="${customer.id != null}">

                        <!-- Personal Information Section -->
                        <h5 class="mb-3">Personal Information</h5>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">First Name *</label>
                                <input type="text" class="form-control" th:field="*{firstName}"
                                       th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"
                                       id="firstName" required>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}"
                                     th:errors="*{firstName}">First name error</div>
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">Last Name *</label>
                                <input type="text" class="form-control" th:field="*{lastName}"
                                       th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''"
                                       id="lastName" required>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}"
                                     th:errors="*{lastName}">Last name error</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email Address *</label>
                                <input type="email" class="form-control" th:field="*{email}"
                                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                       id="email" required>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}">Email error</div>
                            </div>
                            <div class="col-md-6">
                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" th:field="*{phoneNumber}"
                                       th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid' : ''"
                                       id="phoneNumber" placeholder="+1234567890">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}"
                                     th:errors="*{phoneNumber}">Phone error</div>
                            </div>
                        </div>

                        <!-- Address Information Section -->
                        <h5 class="mb-3 mt-4">Address Information</h5>

                        <div class="mb-3">
                            <label for="streetAddress" class="form-label">Street Address</label>
                            <input type="text" class="form-control" th:field="*{address.streetAddress}"
                                   id="streetAddress" placeholder="123 Main Street">
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" th:field="*{address.city}" id="city">
                            </div>
                            <div class="col-md-3">
                                <label for="state" class="form-label">State/Province</label>
                                <input type="text" class="form-control" th:field="*{address.state}" id="state">
                            </div>
                            <div class="col-md-3">
                                <label for="zipCode" class="form-label">ZIP/Postal Code</label>
                                <input type="text" class="form-control" th:field="*{address.zipCode}" id="zipCode">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" th:field="*{address.country}" id="country">
                                <option value="">Select Country</option>
                                <option value="US">United States</option>
                                <option value="CA">Canada</option>
                                <option value="UK">United Kingdom</option>
                                <option value="DE">Germany</option>
                                <option value="FR">France</option>
                                <option value="