<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register User</title>
</head>

<body>

<h2>Register New Admin</h2>


<form th:action="@{/registerUser}" method="post">
    <label>Name: <input type="text" name="name" required></label><br/>
    <label>Surname: <input type="text" name="surname" required></label><br/>
    <label>Email: <input type="email" name="email"></label><br/>
    <label>Address: <input type="text" name="address"></label><br/>
    <label>Phone Number: <input type="number" name="phoneNum"></label><br/>
    <label>Username: <input type="text" name="username" required></label><br/>
    <label>Password: <input type="password" name="password" required></label><br/>
    <label>Role:
        <select name="role">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
        </select>
    </label><br/><br/>
    <button type="submit">Register</button>
</form>

<div th:if="${message}" style="color:green">
    <p th:text="${message}"></p>
</div>
<div th:if="${error}" style="color:red">
    <p th:text="${error}"></p>
</div>

<a href="/">Back</a>
</body>
</html>
